@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
	--header-height: 3rem;
    --nav-width: 50px;
    --side-bar-bg-color: #040b14;
	--side-bar-bg-color-light: #212431;
    ---side-bar-icon-color-not-selected: #ffffff71;
    --white-color: #F7F6FB;
	--hover-link-color: #149ddd;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;
	--nav-icon-left-padding: .75rem;
	--nav-icon-font-size: 1.5rem;
	--profile-icon-size: 1.5rem;
	--section-title-text-color: #173B6F;
}

body {
	position: relative;
	margin: calc(var(--header-height) + 1rem) 0 0 0;
	padding-left: calc(var(--nav-width) + 0.5rem);
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	transition: .5s;
	max-width: 1000px;
}

a {
	text-decoration: none
}

.content {
	margin-top: var(--header-height);
    height: 100vh;
	width: 100%;
}

/*--------------------------------------------------------------
	Section Titles
--------------------------------------------------------------*/
.section-title {
	color: var(--section-title-text-color);
}
.section-title::after {
	content: "";
	display: block;
	width: 50px;
	height: 3px;
	background: #149ddd;
	bottom: 0;
	left: 0;
	margin-bottom: 25px;
}